body {
  margin: 0px;
}
.list-bg {
  background: rgb(249, 250, 255);
  padding: 10px;
}
.list-item {
  background: white;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 5px;
  box-shadow: rgb(224, 224, 224) 0px 2px 4px 0px;
}
.list-item h4 {
  font-size: 20px;
  font-weight: 800;
  margin: 0;
}
.list-item p {
  color: grey;
  margin: 5px 0px;
}
.main-page {
  height: 100vh;
  background-color: #01579b;
  display: flex;
  justify-content: center;
  align-items: center;
}
.choice-btn {
  margin-right: 20px;
  height: 30px;
}

.write-container {
  height: 300px;
  width: 200px;
  margin-left: 20%;
}

.write-title {
  height: 50px;
  width: 300px;
  font-size: 20px;
  margin-bottom: 10px;
  border-radius: 15px;
  border: 1px solid gray;
  padding-left: 10px;
}

.write-content {
  height: 300px;
  width: 700px;
  font-size: 20px;
  margin-bottom: 10px;
  border-radius: 15px;
  border: 1px solid gray;
  padding-left: 10px;
}

.postBtn {
  height: 30px;
  width: 80px;
  background-color: rgb(7, 81, 56);
  border: 0px;
  border-radius: 10%;
  color: white;
  margin-right: 10px;
}

.backBtn {
  height: 30px;
  width: 80px;
  background-color: rgb(88, 88, 88);
  border: 0px;
  border-radius: 10%;
  color: white;
}

.write-page {
  text-align: center;
  font-size: 30px;
}

a {
  text-decoration: none;
  color: black;
}
